<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MEP.DataAccess.Properties.Settings.WCFConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=WCF;User ID=websvcapp;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>