<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMulService" />
                <binding name="BasicHttpBinding_CountriesService" />
                <binding name="BasicHttpBinding_CountriesService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:21951/MyMulServiceHost.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMulService"
                contract="MulServiceReference.IMulService" name="BasicHttpBinding_IMulService" />
            <endpoint address="http://localhost/MyHostOnIIS/MyServiceOnIIS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CountriesService"
                contract="MySrvRefOnIIS.CountriesService" name="BasicHttpBinding_CountriesService" />
            <endpoint address="http://localhost:49037/MyService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_CountriesService1"
                contract="MyServiceReference.CountriesService" name="BasicHttpBinding_CountriesService1" />
        </client>
    </system.serviceModel>
</configuration>